body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

h1 {
	margin: 0;
}

#add-job-opening {
	margin: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	background-color: #f9f9f9;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 5px;
}

input[type="text"],
textarea {
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input[type="submit"] {
	padding: 5px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

#job-listings {
	margin: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	background-color: #f9f9f9;
}

h2 {
	margin-top: 0;
	margin-bottom: 10px;
}

li {
	margin-bottom: 20px;
}

.job-title {
	font-weight: bold;
	margin-bottom: 5px;
}

.salary {
	font-style: italic;
	margin-bottom: 5px;
}

.job-description,
.responsibilities,
.requirements {
	margin-bottom: 10px;
}
